.main-container{
    background: #f5f5f5;
    padding: 10px 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


.main-container form h2{
    text-transform: capitalize;
    /* font-weight: 600; */
    font-family: 'Prata', serif;
}

.main-container form .rect-bar{
    height: 2px;
    background: #333;
    width: 20%;
    margin-top: 20px;
}

.form-container{
    padding: 3% 0;
}

.form-container .col-sm-6 .form-control{
    width: 75%;
}
.form-container .col-sm-6 .control-container{
    margin: 5px 0 20px 0;
}
.form-container .col-sm-6 label{
    text-transform: capitalize;
}
.form-container .col-sm-12 button{
    background: #5584ff;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 25px;
    border: 0;
    outline: 0;
}

.form-container .container-table{
    height: 400px;
    overflow: auto;
}

/* .user-row{
    display: flex;
    column-gap: 6rem;
    margin-top: 4rem;
} */

.user-dashboard{
    background: linear-gradient(#5585ff88, #5585ff88), url('../assets/sidebar.jpg') no-repeat;
    background-size: cover;
    height: 90vh;
}

.user-dashboard .user-container{
    height: 350px;
    width: 100%;
    margin: auto;
    display: block;
    padding: 15rem;
    text-align: center;
}

.user-dashboard .user-container h1,
.user-dashboard .user-container h5{
    color: #fff;
    font-family: 'Prata', serif;
}

.user-dashboard .user-container h1{
    font-size: 50px;
}
.user-dashboard .user-container h5{
    font-size: 30px;
}


/* .user-row .user-column{
    text-decoration: none;
    color: #fff;
    background: #5584ff;
    padding: 40px 60px;
    border-radius: 20px;
}

.user-row .user-column:nth-child(1){
    background: #5584ff;
    background: -webkit-linear-gradient(to right, #29599c, #5584ff);
    background: linear-gradient(to right, #29599c, #5584ff); 
}

.user-row .user-column:nth-child(2){
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #5584ff, #3a7bd5);
    background: linear-gradient(to right, #5584ff, #3a7bd5); 
}

.user-row .user-column:nth-child(3){
    background: #3a7bd5;
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
    background: linear-gradient(to right, #3a7bd5, #00d2ff); 
}
.user-row .user-column:nth-child(4){
    background: #36d6fa;
    background: -webkit-linear-gradient(to right, #36d6fa, #3a7bd5);
    background: linear-gradient(to right, #36d6fa, #3a7bd5); 
} */